$primary-color: #FF5722;

section#trip {
  
  a {
    color: #000;

    &:hover {
      text-decoration: none;
      color: #000
    }
  }

  .trip-searched {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid $primary-color;
    border-radius: 16px;

    i.fas.fa-search {
      font-size: 30px;
      color: $primary-color
    }
  }

  .trip {
    box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
    border-radius: 16px;
    padding: 10px;
    margin-top: 30px;

    &:hover {
      box-shadow: 0 2pt 8pt $primary-color, 0 2pt 16pt $primary-color;
    }
  }

  .departure-date {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;

    .departure-time {
      display: flex;
    }
  }

  .directions {
    font-size: 1.4rem
  }

  svg.svg-inline--fa.fa-clock {
    color: $primary-color;
    margin-right: 10px
  }

  .driver-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .driver-details-right {

      .icones {
        font-size: 1.5rem
      }

      img {
        width: 30px
      }

      .seats-left {
        font-size: 1.2rem;
        padding-bottom: 5px
      }
    }

    .driver-details-left {
      display: flex;
      align-items: center;
    }

    .profile-picture {
      margin-right: 20px;
    }

    img.photo {
      border-radius: 200px;
      width: 80px;
      height: 80px;
    }
  }

  .street-name, .name-age, .passengers-list  {
    font-size: 1.3rem
  }

  .car-driver {
    padding: 20px;

    .brand {
      font-size: 1.3rem;
      font-weight: bold
    }

    .immat {
      font-size: 1.2rem;
      color: darkgrey
    }
  }

  .trip-date {
    font-size: 0.8rem;
    padding: 5px;
    border-top: 1px solid $primary-color;
  }
}