$primary-color: #FF5722;

#home {
  background: url("../images/home_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;

  h1, p {
    color: #FFF
  }


  input.btn.btn-secondary.btn-block {
    background-color: $primary-color;
    border-color: #FFF
  }
}