$primary-color: #FF5722;


section#user-profile {

  span {
    margin-right: 10px;
    font-size: 1.4rem
  }
  
  .welcome {
    padding-top: 50px;
    text-align: center
  }

  .infos {
    border-right: 1px solid $primary-color
  }

  .car .car-title, .infos .infos-title {
    padding: 30px 0 20px 0;
    text-align: center
  }

  .nav.nav-tabs {
    padding-top: 50px
  }

  .profile-picture {
    margin-bottom: 50px;
  }

  img.photo {
    border-radius: 200px;
    width: 150px;
    height: 150px;
  }
}